aside.logo {
    background-color: var(--bg-dark);
    display: flex;
    height: 20px;
    justify-content: center;
    align-items: flex-start;
    padding-top: 0px; /* Ajuste o valor para um espaçamento ainda menor */
}

aside.logo img {
    padding: 0;
    margin: 0;
    width: 100%;
}
