<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste | GET</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
    }
    body {
        margin: auto;
        width: 100%;
    }

    h1 {
        text-align: center;
        color: red;
        background-color: gray;
        width: 100%;
        
    }

    p {
        width: 50%;
        text-align: center;
        margin: 30px auto;
        
    }
</style>

<body>
    <h1>
        Eu fui renderizado!
    </h1>
    <p style="text-align: justify;">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi corporis recusandae et, nostrum, fugiat
        consequuntur sapiente voluptate odit aut dignissimos error alias fugit numquam hic quam repellendus. Provident,
        velit fugiat?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor neque nemo, vitae porro illum dolorem nobis
        totam, distinctio eligendi tempora exercitationem hic voluptate dolore commodi necessitatibus ab, sapiente ullam
        et.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit, quas tempora accusantium, enim voluptatem
        officiis repellendus deleniti eaque ipsa pariatur id placeat reiciendis! Doloribus voluptas veritatis officiis
        praesentium nam. Exercitationem?
    </p>
</body>

</html>