:root {
    --bg-darl: #1A2f3A;

    --logo-heigth: 200px;
    --header-heigth: 100px;
    --aside-height: 225px;
    --footer-height: 40px

    --shadow: 
        0 2px 23px 0 rgba(0, 0, 0, 0.1),
        0 2px 49px 0 rgba(0 , 0 , 0, 0.6);
        
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.App {
    margin: 0;
    display: grid;
    grid-template-columns: var(--aside-height) 1fr;
    grid-row: 
        var(--header-heigth)
        1fr
        var(--footer-height);
    grid-template-areas: 
        "logo header"
        "menu content"
        "menu footer";
    height: 100vh;
    background-color: gray;
}

aside.logo {
    grid-area: logo;
}

header.header {
    grid-area: header;
}

aside.menu-area {
    grid-area: menu;
}

main.content {
    grid-area: content;
}

footer.footer {
    grid-area: footer;
}