*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(5, 86, 86);
}

.container{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin: 80px auto;
    padding: 30px;
    width: 500px;
}