*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(../imagens/fundo.png);
    background-repeat: repeat-x;
}

#container{
    margin: 0 auto;
    width: 700px;
    
}
/*
    Header:
*/
.topo{
    background-image: url(../imagens/detalhe-topo.png);
    background-repeat: no-repeat;
    background-position: top right;
    padding-top: 26px;
    height: 150px;
}
.logo{
    background-image: url(../imagens/logo.png);
    cursor: pointer;
    width: 152px;
    height: 66px;
}

/*
    Barra de navegação:
*/

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navegação{
    background-color: red;
    padding: 10px;
    width: 530px;
    font-size: 15px;
    display: flex;
    margin-top: 30px;
}

.navegação > li{
    padding-left: 20px;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: rgb(95, 9, 9);
}

/*
    Configura a Navegação 
*/

.home .navegação #home, .brasil .navegação #brasil,
.Internacional .navegação #Internacional, .saude .navegação #saude,
.tecnologia .navegação #tecnologia, .ciencias .navegação #ciencias,
.economia .navegação #economia
{
    color: #fff;
    background-color: #de003e;
    cursor: text;
}

/*
    Configura Layout de três colunas:
*/
#tres-colunas #primario{
    width: 270px;
    display: flex;
}
#duas-colunas #primario{
    width: 555px;
    display: flex;
}

#conteudo{
    margin-top: 60px;
    height: 100%;
    display: flex;
}
.primario, .secundario{
    width: 270px;
    
}
.lateral{
    width: 180px;
    margin-right: 15px;
    
}

.secundario{
    margin-left: 15px;
    background-color: blue;
}


/*Configura o conteúdo*/

.caixas{
    margin: 10px 0;
    
    background-image: url(../imagens/fundo-caixa.png);
    font-size: 15px;
}
.caixas > h2{
    font-size: 1.1em;
    padding: 5px;
    background: #294c71;
    color: #fff;
}
.caixa-conteudo{
    margin: 5px auto;
    background-color: #fff;
    width: 80%;
    padding: 10px;
}
.lista > li{
    margin: auto;
    color: black;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: black;
}
.caixa-conteudo-end{
    margin: 10px auto; 
    width: 90%;
    background-color: #fff;
    padding: 5px;
}
.caixa-conteudo-end > h2{
    font-size: 15px;
    background: red;
    color: #000000d0;
}

.caixa-conteudo-end > p {
    margin-top: 15px;
    text-align: justify;
    text-indent: 5px;
}

/*
    Rodapé (footer)
*/

footer{
    width: 100%;
    height: 70px;
    background-color: rgb(17, 17, 182);
}

footer > p{
    margin-top: 10px;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 15px;
}